@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
margin: 0;
padding: 0;
display: flex;
margin-top: 100px;
font-family: "Poppins", sans-serif;
justify-content: center;    

}
.container{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 20px;
    width: 400px;
    height: 450px;
    display: none;
}

.container-heading{
    background-color: aliceblue;
    height:20%;
    border: none;
    border-radius: 20px;
}

.conatnier-time{
    height: 50%;
}

.container-quection{
    height: 50%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-left: 15px;
}

.container-quection p{
    font-size: small;
    margin: 0;
    padding-left: 30px;
    padding-top: 13px;
    
}
.container-quection hr{
    width: 97%;
    margin-right: 30px;
}


.conatainer-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60%;

}

.container-bottom{
    padding: 20px;
    height: 15%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.next{
    width: 100px;
    height: 40px;
    border: none;
    box-sizing: border-box;
    border-radius: 10px;
    display: none;
    background-color: navy;
    color: white;
    font-size: medium;
}


.next:hover{
    opacity: 0.7;
}


.PlayAgain{
    display: none;
}








.btn{
    font-size: medium;
    text-align: left;
    height: 50px;
    width: 90%;
    background-color: white;
    border-radius: 4px;
    border: none;
    border-radius: 4px;    

}
.btn:hover:not([disabled]){
    transition: all 0.1ms ease-in-out;
    color: white;
    background-color: grey;
}
.btn:disabled{
    cursor: no-drop;
}

.btn:active{
    background-color:white;
    color: black;
}
.correct{
    background: rgb(173, 244, 67);
}
.incorrect{
    background: rgb(240, 0, 0);
}

/* result page */

.score-container{
    display: flex;
    flex-direction: column;
     align-items: center;
     justify-content: center;   
     margin-bottom: 130px;
}

.buttons{
    display: flex;
    gap: 8px;
}

.container-socre-page{
    display: flex;
   padding: 30px;
    flex-direction: column;
    border: none;
    border-radius: 20px;
    width: 350px;
    height: 450px;
    background-color: rgb(182, 239, 239);
    display: none;;
}
.container-socre-page h1{
    font-size: x-large;
    color:rgb(0, 0, 0);
}
.container-socre-page button{
   width: 100px;
   height: 40px;
   font-size: large;
   border: none;
   border-radius: 4px;
   background-color: navy;
   color: white;

}

.container-socre-page button:hover{
    opacity: 0.7;
}

.container-socre-page textarea{
    resize: none;
    outline: none;
    border-radius: 6px;
    border: none;
}
.submit-button{
    margin-top: 10px;
}

/* intructions */

.instructions{
     display: flex;
     padding: 30px;
     flex-direction: column;
     border: none;
     border-radius: 20px;
     width: 350px;
     height: 350px;
     background-color: rgb(182, 239, 239);
}